.App {
  max-width: 400px;
  margin: 0 auto 100px;

  &__drones-heading {
    background-color: color(light-BG);
    padding-top: 2rem;
  }

  &__drone-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    padding: 0 1em 2rem;
    margin: 0 auto 2rem;
    background-color: color(light-BG);
  }
}
