@font-face {
  font-family: "Gilroy-Black";
  src: url("./Assets/fonts/Gilroy-Black.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-BlackItalic";
  src: url("./Assets/fonts/Gilroy-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./Assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url("./Assets/fonts/Gilroy-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./Assets/fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBoldItalic";
  src: url("./Assets/fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./Assets/fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-HeavyItalic";
  src: url("./Assets/fonts/Gilroy-HeavyItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./Assets/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-LightItalic";
  src: url("./Assets/fonts/Gilroy-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./Assets/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("./Assets/fonts/Gilroy-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./Assets/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("./Assets/fonts/Gilroy-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./Assets/fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-SemiBoldItalic";
  src: url("./Assets/fonts/Gilroy-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("./Assets/fonts/Gilroy-Thin.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ThinItalic";
  src: url("./Assets/fonts/Gilroy-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("./Assets/fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-UltraLightItalic";
  src: url("./Assets/fonts/Gilroy-UltraLightItalic.woff") format("woff");
}
