p {
  font-family: "Gilroy-Regular", Arial, sans-serif;
}

h3 {
  font-family: "Gilroy-Medium", Arial, sans-serif;
}

a,
a > p {
  font-family: "Gilroy-Heavy", Arial, sans-serif;
  text-decoration: none;
}

.container-fluid {
  padding: 1.25rem;
}
